backports.functools-lru-cache==1.4
configobj==5.0.6
cycler==0.10.0
matplotlib==2.1.1
nemo-emblems==3.8.0
numpy==1.13.3
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.2.0
pyparted==3.11.1
python-apt==1.6.0
python-dateutil==2.6.1
python-xlib==0.20
pytz==2018.3
pyxdg==0.25
setproctitle==1.1.10
six==1.11.0
subprocess32==3.2.7
virtualenv==16.4.0
