{% load static %}

<style>
   a.navbar-item:hover {
      color: #1496ed !important;
   }

   p.username:hover {
      cursor: default;
   }
</style>
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
   <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'core:index' %}">
         <img src="{% static 'img/check.png' %}" width="38" height="38">
      </a>
      <p class="navbar-item username">Hi {{ request.user.username }}</p>
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
         <span aria-hidden="true"></span>
         <span aria-hidden="true"></span>
         <span aria-hidden="true"></span>
      </a>
   </div>
   <div class="navbar-menu is-black" id="navMenu">
      <div class="navbar-start">
         <a class="navbar-item" href="{% url 'core:index' %}">
            Home
         </a>
         <a class="navbar-item" href="{% url 'core:profile' request.user.id %}">
            My profile
         </a>
         <a class="navbar-item" href="{% url 'core:dataoverview' request.user.id %}">
            Data Overview
         </a>
      </div>
      <div class="navbar-end">
         <div class="navbar-item">
            <div class="buttons">
               <a class="button is-info" href="{% url 'logout' %}">Logout&nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i></a>
            </div>
         </div>
      </div>
   </div>
</nav>

{% block script_ %}
   <script>
      document.addEventListener('DOMContentLoaded', () => {
         // Get all "navbar-burger" elements
         const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
         // Check if there are any navbar burgers
         if ($navbarBurgers.length > 0) {
            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
               el.addEventListener('click', () => {
                  // Get the target from the "data-target" attribute
                  const target = el.dataset.target;
                  const $target = document.getElementById(target);
                  // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                  el.classList.toggle('is-active');
                  $target.classList.toggle('is-active');
               });
            });
         }
      });
   </script>
{% endblock %}